<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list">
                    <li>E-mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="footer-col  footer-col-2">
                <ul class="social-media-list">
                {% if site.github_username %}
                    <li>GitHub: <a href="https://github.com/{{ site.github_username }}"><span class="username">{{ site.github_username }}</span></a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>
