<!DOCTYPE html>
<html>

    {% include head.html %}

    <body data-spy="scroll" data-target="#toc">

        {% include header.html %}

        <!-- left side bar for Table of Content (TOC) -->
        <div style="width:30%;">
            <ul id="tree" class="ztree" style="width: 260px; -moz-user-select: none; overflow: auto; position: fixed; z-index: 2147483647; border: 0px none; left: 0px; bottom: 0px;">
            <ul>
        </div>

        <!-- right side bar for article -->
        <div style="width:70%;margin-left:22%;">
            <article class="markdown-body">
                {{ content }}
            </article>
        </div>

    </body>

</html>
