<!DOCTYPE html>
<html>

    {% include head.html %}

    <body data-spy="scroll" data-target="#toc">

        {% include header.html %}

        <div class="container-fluid">

            <!-- left side bar for Table of Content (TOC) -->
            <div style="width:16%;">
                <ul id="tree" class="ztree" style="width: 15%; -moz-user-select: none; overflow: auto; position: fixed; z-index: 2147483647; border: 2px; border-style: none inset none none; margin-top: 0px; top: 0px; left: 0px; bottom: 0px; padding-top: 60px;"></ul>
            </div>

            <!-- right side bar for article -->
            <div style="width:82%;margin-left:17%;">
                <article class="markdown-body">
                    {{ content }}
                </article>
            </div>

        </div>

    </body>

</html>
